
body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Common class */

.heading-color {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.paragraph-color {
  color: hsl(201, 11%, 66%);
  letter-spacing: 0.1px;
}

.heading-body {
  font-size: 2.2rem;
  margin: 4px 0;
}

.paragraph-body {
  font-size: 1.125rem;
  letter-spacing: 0.1px;
  line-height: 1.65;
  white-space: pre-line;
  margin-bottom: 5.4%;
}

/* title */

#title {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  margin: auto;
  padding: 8% 0 7%;
}

.title-logo {
  margin-bottom: 1%;
}

.title-heading {
  font-size: 2.8rem;
  margin-bottom: 1.3%;
}

.title-paragraph {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  line-height: 1.51;
  white-space: pre-line;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  margin: 2.8% 0;
}

.btn {
  width: 225px;
  height: 52px;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  font-weight: 600;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px 2px hsl(171, 66%, 33%);
}

.btn-ios:hover {
  background-color: hsl(171, 52%, 58%);
  box-shadow: 0px 3px 2px hsl(171, 66%, 44%);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px 2px hsl(233, 100%, 60%);
}

.btn-mac:hover {
  background-color: hsl(233, 100%, 77%);
  box-shadow: 0px 3px 2px hsl(233, 100%, 69%);
}

/* Features */

.description-h {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  margin: 0;
}

.description-p {
  white-space: pre-line;
  margin: 0;
  margin-bottom: 55px;
}

        /* Track Feature */

.track-features {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10.5%;
}

.img-track {
  width: 50%;
}

.pc-img {
 width: 104.5%;
 transform: translateX(-2.5rem);
}

.track-text {
  width: 41%;
  line-height: 1.9rem;
  margin: 4.8% 1.5% 0 0;
}

.track-heading {
  margin-bottom: 1.5%;
}

        /* Access Feature */

.access-features {
  margin-bottom: 5%;
}

.access-paragraph {
  margin-bottom: 7%;
}

.access-img {
  width: 62.8%;
}

        /* Tools */

.tools-features {
  margin-bottom: 7.5%;
}

.tools-description {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 0 8.5%;
}

.tool-icon {
  margin-bottom: 10.5%;
}

.tool-heading {
  margin-bottom: 6%;
}

.tool-paragraph {
  line-height: 1.8;
}

        /* Testimonials */

.testimonials {
  margin-bottom: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-testimonials {
  margin: 0 3.7% ;
}

.logo-normal {
  width: 11%;
}

.logo-big {
  width: 9%;
}

/* Download */

#download {
  margin-bottom: 10%;
}

.download-paragraph {
  margin-bottom: 2%;
}

/* Contact */

#contact {
  background-color: hsl(220, 18%, 97%);
  padding: 3% 11% 1% 9%;
  display: flex;
  align-items: center;
}

.contact-logo {
  width: 45%;
}

.contact-links {
  text-align: left;
  display: flex;
  margin-bottom: 0;
  margin-left: 8.5%;
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.link {
  color: hsl(210, 10%, 33%);
  margin-bottom: 10px;
}

.col-social {
  margin: auto 0 auto auto;
}

.icon-social {
  margin: 0 10px;
}

.link:hover {
  color: hsl(171, 66%, 44%);
}

.icon-social:hover {
  filter: invert(58%) sepia(68%) saturate(442%) hue-rotate(122deg) brightness(92%) contrast(92%);
}

/* Attribution */

.attribution-div {
  background-color: hsl(220, 18%, 97%);
  padding-bottom: 2%;
}

.attribution {
  font-size: 0.7rem;
  margin: 0;
}

.attribution-link {
  color: hsl(233, 100%, 69%);
}

.attribution-link:hover {
  color: hsl(233, 100%, 77%)
}

/* MEDIA SECTION */

@media (max-width: 1202px) {

  #contact {
    padding: 3% 6% 1% 5%;
  }

}

@media (max-width: 1080px) {

  #contact {
    padding: 3% 3% 1% 2%;
  }

  .contact-links {
    margin-left: 3%;
  }

  .col {
    margin-right: 70px;
  }

}

@media (max-width: 857px) {

  #contact {
    padding: 3% 2.5% 1% 1.5%;
  }

  .contact-links {
    margin-left: 2%;
  }

  .col {
    margin-right: 45px;
  }

}

@media (max-width: 768px) {

  /* Title Media */

  #title {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    margin: auto;
    margin-bottom: 20%;
    padding: 33% 7.5%;
  }

  .title-heading {
    font-size: 2rem;
    margin-top: 17%;
    margin-bottom: 5%;
  }

  .title-paragraph {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.7;
    white-space: normal;
    margin: 0 2%;
  }

  .button {
    align-items: center;
    margin: 10% 0;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Features */

  #features {
    padding: 0 7.5%;
  }

  .heading-body {
    font-size: 1.8rem;
  }

  .paragraph-body {
    font-size: 1rem;
    white-space: normal;
  }

  .track-features {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 25%;
  }
      /* Track Feature MEDIA */
  
  .img-track {
    width: 90%;
  }

  .pc-img {
    transform: none;
  }

  .track-text {
    width: auto;
    margin: 18% 0;
    padding: 0 1%;
  }

  .description-p {
    white-space: normal;
    margin-bottom: 40px;
  }

      /* Acces Feature MEDIA */

  .access-features {
    margin-bottom: 25%;
  }

  .access-paragraph {
    margin-bottom: 15%;
  }

  .access-img {
    width: 100%;
  }

      /* Tools Features MEDIA */

  .tools-features {
    margin-bottom: 25%;
  }

  .tools-description {
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    padding: 0 0;
  }

      /* Testimonials MEDIA */

  .testimonials {
    flex-direction: column;
  }

  .logo-testimonials {
    margin-bottom: 20%;
  }

  .logo-normal {
    width: auto;
  }

  .logo-big {
    width: auto;
  }

  /* Download MEDIA */

  #download {
    margin-bottom: 30%;
    padding: 0 7.5%;
  }

  .download-paragraph {
    margin: 5% 2% 0 2%;
  }

  /* Contact MEDIA */

  #contact {
    flex-direction: column;
    padding: 15% 7.5% 8%;
  }

  .contact-logo {
    margin-bottom: 20%;
  }

  .contact-links {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .col {
    margin: 0;
  }

  .link {
    margin-bottom: 20px;
  }

  .col-social {
    margin: 10% 0 0 0;
  }
  
  .attribution-div {
    padding-bottom: 5%;
  }

}

@media (max-width: 510px) {

  .button {
    flex-direction: column;
  }

}
